
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #7F00FF;
  padding: 10px;
}

.navbar ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.navbar a{
  padding: 20px;
  align-content: center;
}
a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #e0e0ec;
}

h1{
  text-align: center;
  color: black;
}
h2{
  text-align: center;
  color: ghostwhite;
}
h3{
  text-align: center;
  color: ghostwhite;
}